body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(7, 24, 74);
}

#container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://wallpapers.com/images/hd/mathematical-alchemy-equations-tm3baxl8b9lfc8i5.jpg);
    background-repeat: no-repeat;
    margin: auto auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #d0ecff;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.481), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #185581;
}

#output {
    text-align: right;
    height: 80px;
    margin: -5px 20px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 1pc;
}

#keyboard {
    height: 400px;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 25%;
    border-width: 5;
    font-weight: bold;
    font-size: 15px;
}

.number,
.empty {
    background-color: #5942bd;
}

.number,
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #1b519c;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #4a5aaa;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #0f6677;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #446c4b;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #6a466f;
}